html {
    height: 100vh;
}

body {
    height: 100%;
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro";
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
}

.header-guest {
    width: 90%;
    margin: 0 auto;
    display: flex;
    line-height: 70px;
}

.header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-flex {
    display: flex;
    line-height: 70px;
}

.header-title {
    font-size: 30px;
    color: #0066FF;
    margin-left: 40px;
}

.header-find {
    width: 600px;
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #0066FF;
}

.nav {
    position: absolute;
    height: 500vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: 1s;
    text-align: center;
    z-index: 999;
}

.nav ul {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.nav ul li {
    list-style-type: none;
    margin-top: 50px;
}

.menu {
    line-height: 70px;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 999;
    background-color: #0066FF;
    border-radius: 3px;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
}

.menu__line--top {
    width: 30%;
}

.menu__line--middle {
    width: 70%;
}

.drawer_link {
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
}

.menu__line--top {
    top: 7px;
    left: 5px;
}

.menu__line--middle {
    top: 14px;
    left: 5px;
}

.menu__line--bottom {
    bottom: 7px;
    left: 5px;
}

.menu.open span:nth-of-type(1) {
    width: 70%;
    top: 14px;
    background-color: white;
    transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    width: 70%;
    top: 14px;
    background-color: white;
    transform: rotate(-45deg);
}

.in {
    transform: translateX(100%);
}

main {
    height: 100vh;
}

.error {
    color: red;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* main */
.card {
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.shop-img {
    vertical-align: top;
    height: 150px;
    width: 300px;
    border-radius: 10px 10px 0 0;
}

.content {
    padding: 20px;
}

.shop-name {
    font-size: 20px;
    padding-bottom: 10px;
}

.hashtag {
    display: flex;
    padding-bottom: 20px;
}

.area-name {
    font-size: 14px;
    padding-right: 5px;
}

.genre-name {
    font-size: 14px;
    padding-left: 5px;
}

.shop-link {
    display: flex;
    justify-content: space-between;
}

.shop-details {
    border: none;
    outline: none;
    background-color: #0066FF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.shop-like {
    border: none;
    outline: none;
    background-color: white;
    color: lightgrey;
}

.shop-like-on {
    border: none;
    outline: none;
    background-color: white;
    color: red;
}

.shop-like-off {
    border: none;
    outline: none;
    background-color: white;
    color: lightgrey;
}

.search-form {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border: 5px solid #0066FF;
    border-radius: 10px;
    padding: 2px;
}

.search {
    border: 1px solid white;
    outline: none;
}

.search-name {
    display: inline;
}

.search-name input {
    width: 350px;
    border: none;
    outline: none;
}

/* detail */
.detail-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.detail-left {
    width: 40%;
    margin: 0 auto;
}

.detail-head {
    display: flex;
}

.back-shop-page {
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    color: #000;
}

.detail-shop-name {
    font-size: 24px;
    padding: 5px;
    margin-left: 10px;
}

.detail-shop_image {
    margin: 20px 0;
}

.detail-shop_image img {
    width: 100%;
}

.detail-hashtag {
    display: flex;
    margin: 30px 0;
}

.detail-hashtag p {
    font-weight: bold;
}

.detail-shop-content {
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 20px;
}

.detail-right {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    background-color: #0066FF;
    border-radius: 10px;
    position: relative;
}

.reservation-input {
    margin: 20px;
    width: 90%;
}

.reservation-head {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.reservation-day,
.reservation-time,
.reservation-person {
    margin: 15px 0;
}

.reservation-day input {
    padding: 5px 0;
    border-radius: 10px;
    border: #000;
}

.reservation-time input,
.reservation-person select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 10px;
    border: #000;
}

.detail-button {
    position: absolute;
    bottom: 0;
    border: 0;
    border-radius: 0 0 10px 10px;
    outline: 0;
    background-color: blue;
    opacity: 1;
    padding: 10px;
    width: 100%;
    color: white;
}
.reserve__contents {
    width: 90%;
    margin: 0 auto;
    background-color: #0066CC;
    border-radius: 5px;
    padding: 10px;
}
.reserve__container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.reserve__container dd {
}

/* review */
.shop-review {
    width: 90%;
    margin: 100px auto 0 auto;
}

.shop-review-head {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.shop-review h1 {
    font-size: 24px;
}

.shop-review-card {
    width: 90%;
    border: 1px solid #0066FF;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
}

.shop-review-flex {
    display: flex;
    justify-content: space-between;
}

.shop-review-left {
    width: 40%;
}

.shop-review-right {
    width: 50%;
}

.shop-review-comment {
    font-size: 18px;
}

/* mypage */
.mypage-wrapper {
    width: 90%;
    margin: 0 auto;
}

.reservation-informations {
    font-size: 24px;
    margin: 20px 0;
}

.reservation-card {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px 0;
    border-radius: 10px;
}

.reservation-card-head {
    display: flex;
    padding: 10px;
    background-color: #0066FF;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.reservation-card-head-left {
    display: flex;
}

.reservation-card-head-left i {
    color: white;
    background-color: #0066FF;
    margin-right: 20px;

}

.reservation-id {
    color: white;
    font-size: 22px;
    line-height: 30px;
}

.reservation-delite-button {
    border: 0;
    outline: 0;
    background-color: #0066FF;
}

.reservation-delite {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0066FF;
}
.reservation-shop-detail {
    display: flex;
    width: 100%;
}

.reservation-shop-img {
    width: 350px;
}

.reservation-shop-img img{
    vertical-align: top;
    height: 250px;
    width: 100%;
    border-radius: 0 0 0 10px;
}

.reservation-info {
    width: 30%;
    height: 150px;
    margin: auto 30px;
    color: #000000;
    align-items: center;
}

.reservation-info th {
    text-align: left;
    padding: 0 40px 20px 0;
}

.mypage-user-name {
    font-size: 32px;
}

.user-like-shop {
    font-size: 24px;
    margin-bottom: 20px;
}

.mypage-like {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.mypage-button-flex {
    height: 150px;
    margin: auto;
}

.reservation-update-form,
.review-form {
    margin: 0 10px;
}

.reservation-update-button,
.reservation-detail,
.reservation-delite-button,
.mypage-review {
    width: 130px;
    border: 1px solid white;
    background-color: #0066FF;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.mypage-review {
    border: none;
    outline: 0;
    background-color: #FFCC33;
    color: white;
}

.rereservation {
    background-color: #00CC33;
    color: white;
}

.reservation-delite-button {
    background-color: red;
    color: white;
}

/* tab */
.tab {
    width: 100%;
}

.tab-menu {
    width: 100%;
    margin: 0 auto 50px auto;
    display: flex;
}

.tab-menu__item {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    list-style: none;
    width: 100%;
    border: 1px solid #0066FF;
    background: #ffffff;
    color: #0066FF;
}

.tab-menu__item:not(:first-child) {
    border-left: none;
}

.tab-menu__item.active {
    background: #0066FF;
    color: #ffffff;
}


.tab-content__item {
    display: none;
}

.tab-content__item.show {
    display: block;
}

/* review */
.review-flex {
    display: flex;
    justify-content: space-around;
}

.review-user-name {
    color: white;
    font-size: 20px;
}

.review-area {
    width: 100%;
    border-radius: 5px;
}

.review-input {
    margin: 20px;
    width: 90%;
}

.review-head {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.shop-review-star {
    width: 100%;
    text-align: left;
    margin-bottom: 60px;
}

.shop-review-star i {
    color: white;
}

.review-area {
    width: 100%;

}

.review-five,
.review-content {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}

.review-five {
    margin-top: 60px;
    margin-left: 5px;
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate-form input[type=radio] {
    display: none;
}

.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate-form label:hover {
    color: #ffcc00;
}

.rate-form label:hover~label {
    color: #ffcc00;
}

.rate-form input[type=radio]:checked~label {
    color: #ffcc00;
}


.review-rate-form {
    display: flex;
    margin: auto 0;
}

.review-rate-form label {
    position: relative;
    padding: 0 5px;
    font-size: 35px;
}

.star-checked {
    color: #ffcc00;
}

.star-not-checked {
    color: #eee;
}

.shop-review-comment {
    font-size: 20px;
    line-height: 35px;
    word-wrap: break-word;
}

/* pagination */
svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
}

.paginations {
    text-align: right;
}

.page-item {
    padding: 5px 10px;
    border: 1px solid #0066FF;
    font-size: 16px;
}

.pagination-link {
    margin-top: 10px;
}

/* mypage-review */
.mypage-review-left {
    width: 70%;
    margin: 0 auto;
}

.mypage-review-card {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    background-color: #0066FF;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin: 10px 0;
}

.mypage-review-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.back-mypage {
    background-color: #0066FF;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 10px 25px 0 rgb(0 0 0 / 50%);
    color: white;
}

/* star */
.average-score {
    display: flex;
    margin: 10px 0;
}

.star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 17px;
}

.star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcc33;
    height: 25px;
}

.star-rating-back {
    color: #ccc;
}

.average-score-display {
    padding: 0 10px;
}
