html {
    height: 100vh;
}
body {
    height: 100%;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    height: 70px;
    background-color: #0066FF;
}
.header-guest {
    width: 90%;
    margin: 0 auto;
    display: flex;
    line-height: 70px;
}
.header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-flex {
    display: flex;
    line-height: 70px;
}
.header-title {
    font-size: 30px;
    color: white;
    margin-left: 40px;
}
.header-find {
    width: 600px;
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px 0;
}
a {
    text-decoration: none;
    color: #0066FF;
}
.nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: 1s;
    text-align: center;
    z-index: 999;
}
.nav ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.nav ul li {
    list-style-type: none;
    margin-top: 50px;
}
.menu {
    line-height: 70px;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 999;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
}
.drawer_link {
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
}
.menu__line--top {
    top: 0;
}
.menu__line--middle {
    top: 14px;
}
.menu__line--bottom {
    bottom: 0;
}
.menu.open span:nth-of-type(1) {
    top: 14px;
    background-color: #0066FF;
    transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
    opacity: 0;
}
.menu.open span:nth-of-type(3) {
    top: 14px;
    background-color: #0066FF;
    transform: rotate(-45deg);
}
.in {
    transform: translateX(100%);
}
main {
    height: 100vh;
}
.error {
    color: red;
}
.container {
    padding: 50px 0;
    width: 100%;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* main */
.card {
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.shop-img {
    vertical-align: top;
    height: 150px;
    width: 300px;
    border-radius: 10px 10px 0 0;
}
.content {
    padding: 20px;
}
.shop-name {
    font-size: 20px;
    padding-bottom: 10px;
}
.hashtag {
    display: flex;
    padding-bottom: 20px;
}
.area-name {
    font-size: 14px;
    padding-right: 5px;
}
.genre-name {
    font-size: 14px;
    padding-left: 5px;
}
.shop-link {
    display: flex;
    justify-content: space-between;
}
.shop-details {
    border: none;
    outline: none;
    background-color: #0066FF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.shop-like {
    border: none;
    outline: none;
    background-color: white;
    color: lightgrey;
}
.shop-like-on {
    border: none;
    outline: none;
    background-color: white;
    color: red;
}
.shop-like-off {
    border: none;
    outline: none;
    background-color: white;
    color: lightgrey;
}
.search-form {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.search{
    border: 1px solid white;
    outline: none;
}
.search-name {
    display: inline;
}

.search-name input {
    width: 350px;
    border: none;
    outline: none;
}

/* detail */
.detail-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.detail-left {
    width: 40%;
    margin: 0 auto;
}
.detail-head {
    display: flex;
}
.back-shop-page {
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    color: #000;
}
.detail-shop-name {
    font-size: 24px;
    padding: 5px;
    margin-left: 10px;
}
.detail-shop_image {
    margin: 20px 0;
}
.detail-shop_image img{
    width: 100%;
}
.detail-hashtag {
    display: flex;
    margin: 30px 0;
}
.detail-hashtag p {
    font-weight: bold;
}

.detail-shop-content {
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 20px;
}
.detail-right {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #000;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    background-color: #0066FF;
    border-radius: 10px;
    position: relative;
}
.reservation-input {
    margin: 20px;
    width: 90%;
}
.reservation-head {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.reservation-day,
.reservation-time,
.reservation-person {
    margin: 15px 0;
}
.reservation-day input {
    padding: 5px 0;
    border-radius: 10px;
    border: #000;
}
.reservation-time input,
.reservation-person select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    border-radius: 10px;
    border: #000;
}
.detail-button {
    position: absolute;
    bottom: 0;
    border: 0;
    border-radius: 0 0 10px 10px;
    outline: 0;
    background-color: blue;
    opacity: 1;
    padding: 10px;
    width: 100%;
    color: white;
}
/* mypage */
.mypage-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.mypage-left {
    width: 50%;
    margin-right: 10px;
}
.reservation-informations {
    font-size: 24px;
    margin: 70px 0 30px 0;
}
.reservation-card {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
    background-color: #0066FF;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin: 10px 0;
}
.reservation-card-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.reservation-card-head-left {
    display: flex;
}
.reservation-card-head-left i{
    color: white;
    background-color: #0066FF;
    margin-right: 20px;

}
.reservation-id {
    color: white;
    font-size: 22px;
    line-height: 30px;
}
.reservation-button {
    border: 0;
    outline: 0;
    background-color: #0066FF;
}
.reservation-delite {
    color: white;
    background-color: #0066FF;
}
.reservation-info {
    color: white;
}
.reservation-info th {
    text-align: left;
    padding: 0 40px 20px 0;
}
.mypage-right {
    width: 50%;
    margin-left: 10px;
}
.mypage-user-name {
    font-size: 32px;
    margin-bottom: 50px;
}
.user-like-shop {
    font-size: 24px;
    margin-bottom: 20px;
}
.mypage-like {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

